// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Brand colors
$midnight-blue: #0C0E1E;
$royal-blue: #004EAA;
$gold:#D39536;
$gold-gradient: linear-gradient(360deg, rgba(221,180,101,1) 0%, rgba(211,159,54,1) 100%);
$yellow-gold: #DDB465;
$light-gold: #E9CF9B;

// Greyscale
$black: #333333;
$dark-grey: #393E4E;
$smoke-grey: #CFCED0;
$light-smoke-grey: #E9ECF1;
$white: #FFFFFF;
