// Specific CSS for your home-page
.home-search {
  height:20rem;
  background: #0C0E1E;
  top: 0;
}

.home-search h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.home-search h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.focus {
  background: linear-gradient(360deg, rgba(221,180,101,1) 0%, rgba(211,159,54,1) 100%);
}

.focus h2{
  color: white;
}

.focus p {
  color: white;
}

.paintstroke {
  background-image: asset-url('paint-stroke.png');
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
}

img {
  border-radius: 10px;
  margin-right: 20px;
}

.last {
  border-radius: 10px 0 0 10px;
  width: 208px;
  object-fit: cover;
  object-position: 100% 0;
}
