// Specific CSS for your home-page
.home-search {
  height:100%;
  background: #0C0E1E;
  top: 0;
}

.home-search h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.home-search h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.focus {
  background: linear-gradient(360deg, rgba(221,180,101,1) 0%, rgba(211,159,54,1) 100%);
}

.focus h2{
  color: white;
}

.focus p {
  color: white;
}

.paintstroke {
  background-image: asset-url('paint-stroke.png');
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
}

img {
  border-radius: 10px;
  margin-right: 20px;
}

.body {overflow-x:hidden}

.well {
    height: 70vh;
    z-index: 3;
    border: 0px;
    position: relative;
}
.well:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left:80%;
    right:-3000px;
    z-index: -1;
}

.col-md-6 p {
font-size: 20px;
}
.container-fluid p {
  font-size: 20px;
}


.home-search .btn-primary {
  background: none !important ;
  border: 2px solid #D39536;
  color: #D39536;
  font-weight: 700;
}


.home-search .btn-primary:hover {
  color: #0C0E1E;
  background-color: #D39536 !important;
  border-color: #D39536;
}
