<h1>Auction#show</h1>
<p>Find me in app/views/auction/show.html.erb</p>
dads
<%= render "shared/counter", auction: @auction %>

<script type=”text/javascript” src="http://localhost:3000/counters/1.js">
</script>
