<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Add an Artwork to sell</h2>
      <%= render "shared/add_artwork" %>
    </div>
  </div>
</div>
