<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Auctions#new</h2>
      <p>Find me in app/views/auctions/new.html.erb</p>
      <%= render "shared/add_auction" %>
    </div>
  </div>
</div>
