
<div class="card-product" id="bid-<%= bid.id %>">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>$<%= bid.price %></h2>
    <strong><%= bid.user.first_name %> bid on this!</strong>
  </div>
</div>
