<h5>Time left</h5>
<!-- Display the countdown timer in an element -->
<p id="demo" data-controller="countdown" data-countdown-end-value="<%= auction_item.auction.end_time %>" data-countdown-url-value="<%= finish_bid_auction_item_url(auction_item) %>"></p>
