<h5>Time remaining:</h5>
<!-- Display the countdown timer in an element -->
<span style="font-family: Tahoma, Geneva, sans-serif;" id="demo" data-controller="countdown" data-countdown-end-value="<%= auction_item.auction.end_time %>" data-countdown-url-value="<%= finish_bid_auction_item_url(auction_item) %>" data-countdown-info-value="<%= auction_item.artwork.to_json %>" data-countdown-buyer-value="<%= auction_item.artwork.buyer.to_json %>"></span>
