<div class="home-search">
  <h1>Art Collective</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto my-5">
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query">
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 my-5">
      <h6>Discover masterpieces</h6>
      <h2>Discover the<br>
        next Mona Lisa</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga similique aliquid saepe a pariatur numquam magnam hic, tempora vero voluptates.</p>
    </div>
    <div class="col-sm-12 col-md-6 my-5">
      <h6>Discover masterpieces</h6>
      <h2>Discover the<br>
        next Mona Lisa</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga similique aliquid saepe a pariatur numquam magnam hic, tempora vero voluptates.</p>
    </div>
  </div>
</div>
<div class="container-fluid focus">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto my-5 text-center">
      <h2>H2 - Heading 2 - Montserrat 44px SemiBold</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit tempora harum, illum esse impedit ullam sunt hic voluptate deleniti eligendi, quisquam cum aperiam voluptas.</p>
      <button type="button" class="btn btn-light">Light</button>
    </div>
  </div>
</div>
</div>
