<div class="home-search text-center">
  <h1>Art Collective</h1>
  <h4>Discover your own personal masterpiece<br>from artists all across the globe.</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto my-5">
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query">
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 paintstroke my-5">
      <h6>Masterpiece collections</h6>
      <h2>Some cool<br>
        headline here</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga similique aliquid saepe a pariatur numquam magnam hic, tempora vero voluptates.</p>
    </div>
    <div class="col-sm-12 col-md-6 d-flex my-5">
      <img src="https://images.unsplash.com/photo-1575396574188-ccf23d32d4b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE5fHxhcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="...">
      <img src="https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1045&q=80" class="img-fluid last" alt="...">
    </div>
  </div>
</div>
</div>
<div class="container-fluid py-5 focus">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto my-5 text-center">
        <h2>Descriptive heading will go here</h2>
        <p>Descriptive text will go here. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit tempora harum, illum esse impedit ullam sunt hic voluptate deleniti eligendi, quisquam cum aperiam voluptas.</p>
        <button type="button" class="btn btn-light btn-lg">Discover</button>
      </div>
    </div>
  </div>
</div>
