<div class="home-search text-center pt-3">
  <h2 class="p-1">Discover masterpieces<br>
    from artists across the globe.</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto my-5">
        <%= link_to "JOIN AN AUCTION", auctions_path, class: "btn btn-primary btn-lg w-50 mb-4" %>
        <%#
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query">
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i></button> %>
      </div>
    </form>
  </div>
</div>
</div>
</div>
<div class="container">
  <div class="d-flex align-items-center my-5">
    <div class="col-sm-12 col-md-6 paintstroke d-none d-lg-block mb-5">
      <h6>LIVE AUCTIONS</h6>
      <h2>Find the next Mona Lisa</h2>
      <p>Purchase rare, one of a kind artworks by bidding,
        acquiring, and selling your own artwork all through our online auctions.</p>
    </div>
    <div class="col-sm-12 col-md-6 d-flex d-none d-lg-block justify-content-between">
      <div>
        <%= image_tag "background-img.jpg", class: "img-wide" %>
      </div>
    </div>
    <div class="row d-lg-none">
      <div class="col-sm-12 paintstroke mb-5">
        <h6>ARTIST SERIES</h6>
        <h2>Find the next Mona Lisa</h2>
        <p>Purchase rare, one of a kind artworks by bidding,
          acquiring, and selling your own artwork all through our online auctions.</p>
      </div>
      <div class="col-sm-12">
        <%= image_tag "homepage-image-1.jpg", class: "img-wide-mobile" %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5 focus">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5 text-center">
        <h2>Bid, Buy and Sell</h2>
        <p>Find, buy and sell collection artwork from leading artists, auction houses
          and nonprofit organizations from across the world – all from one online marketplace.</p>
      </div>
    </div>
  </div>
</div>
