<div class="home-search text-center pt-3">
  <h2>Discover masterpieces<br>
    from artists across the globe.</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto my-5">
              <button type="button" class="btn btn-primary btn-lg">JOIN AN AUCTION</button>
<%#
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query">
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i></button> %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 paintstroke my-5">
      <h6>ARTIST SERIES</h6>
      <h2>Art Collective Auctions</h2>
      <p>Get a chance to own rare, one of a kind artworks by bidding,
acquiring, and selling your own artwork all through our online auctions.</p>
    </div>
      <div class="col-sm-12 col-md-6 d-flex my-5">
        <%= image_tag "homepage-image-1.jpg", class: :last %>
        <div class="well">
        <%= image_tag "homepage-image-2.jpg", class: :last %>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid py-5 focus">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5 text-center">
        <h2>Bid, Buy and Sell</h2>
      <p>Find, buy and sell collection artwork from leading artists, auction houses
and nonprofit organizations from across the world – all from one online marketplace.</p>
      </div>
    </div>
  </div>
</div>
