.card-product {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  align-items: center;
}

.card-product img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px 0;
}

.card-date-byline {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: 45px;
  left: 10px;
  background: #D39F36;
  border-radius: 10px;
  padding: 10px;
  width: 87px;
}


.card-product-infos span {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.card-product-infos b {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
