.navbar-lewagon {
  justify-content: space-between;
  background: $midnight-blue;
}
.navbar-nav {
  align-items: center;
  justify-content: center;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 3rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #CFCED0;
}

.dropdown-item {
  color: #0C0E1E;
}

.avatar {
  border: 2px solid #D39536;
  width: 50px;
}
